<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'admins_backoffice' %>
  
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-4">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-1">
                        <!-- Nested Row within Card Body -->
                            <div class="col-lg-14">
                                <div class="p-4">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Acesso ao Sistema</h1>
                                    </div>
                                    
                                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                      <div class="field">
                                        <%= f.label :email %><br />
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user" %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :password %><br />
                                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user" %>
                                      </div>

                                      <% if devise_mapping.rememberable? %>
                                        <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :remember_me %>
                                        </div>
                                      <% end %>

                                      <div class="actions">
                                        <%= f.submit "Acessar", class: "btn btn-primary btn-user btn-block" %>
                                      </div>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admins_backoffice' %>

     <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {
            type: 'success', 
            align: 'right', 
            allow_dismiss: true, 
            stackup_spacing: 10 
        });
      <% end %>
    <% end %>

</body>

</html>